 /* Font Import */

 /* Basic CSS */
 :root {
     --pink: #fc5c65;
 }
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 html {
     scroll-behavior: smooth;
 }

 .navbar-nav > li > a {
     display: block;
     color: gray;
     text-decoration: none;
     transition: .4s;
     padding: 0.5rem 1rem;
 }
 .navbar-nav > li > a:hover {
     color: var(--pink);
 }
 */
 .white-btn:hover {
     color: white;
     background-color: #001c14;
 }
 .pink-btn {
     display: inline-block;
     text-decoration: none;
     color: #7028e4;
     background-color: #85d2bb !important;
     border: 2px solid transparent;
     padding: .5rem 1rem;
     font-weight: bold;
     border-radius: 5px;
     transition: .4s;
 }
 .pink-btn:hover {
     background-color: transparent;
     border: 2px solid white;
     color: black;
 }
 .choose-btn:hover {
     color: white;
     background-color: var(--pink);
 }
 .bg-custom {
     background-color: var(--pink);
 }
 
 .bg-lightsalmon {
     background-color: rgba(255, 160, 122, 0.15);
 }
 .toast-border {
     border-left: 7px solid var(--pink);
     position: absolute;
     right: 0;
     top: 2%;
     z-index: 3;
 }
 .special-card {
     border-radius: 1.5rem;
     bottom: 2rem;
     left: 0;
 }
 .form input[type=text],[type=email] {
     border: none;
     border-bottom: 2px solid gray;
     outline: none;
 }
 .form textarea {
     border: 2px solid gray;
     outline: none;
 }
 .form input:focus {
     background-color: #a4fe7abe;
     outline: none;
     border: none;
     border-bottom: 2px solid green;
 }
 .form textarea:focus {
     border: 2px solid var(--pink);
     background-color: #7cfd68be;
 }
 
 .done{
    padding-top: 20px !important;
    display: block;
    margin-top: 10px;
 }


   
   /* @media (max-width: 768px) {
     .card-body {
       padding: 5px;
     }
   
     .card-hover-description {
       padding: 10px;
     }
     .service-card{
     margin: 0px 0px 0px 0px;
     }
   }
   
 @media only screen and (max-width: 700px) {
    
     .nithin2{
         margin-top: -50px !important;
         height: 300px !important;
     }
     
 } */