
.nithin2{
    height: 670px ;
}
.white-btn {
    display: inline-block;
    text-decoration: none;
    color: #3136ce;
    background-color: #85d2bb;
    font-weight: bold;
    border-radius: 5px;
    transition: .4s;
}
.white-btn:hover {
    color: white;
    background-color: var(--pink);
}
.carousel-caption h1{
    /* background-color: rgba(11, 11, 11, 0.2); */
    text-wrap: nowrap;
}
.carousel-caption{
    background-color: rgba(11, 11, 11, 0.2) !important;
}
@media only screen and (max-width: 700px) {
   
    .nithin2{
        height: 300px !important;
    }
    .carousel-caption h1{
        font-size: 20px !important;
        background-color: rgba(11, 11, 11, 0.2);
        text-wrap: nowrap;
    }
    .carousel-caption{
        background-color: rgba(11, 11, 11, 0.0) !important;
    }
    
}