.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

.loading-dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #fc83f0;
    animation: loading 0.8s infinite alternate;
}

.loading-dot:nth-child(1) {
    animation-delay: 0s;
}

.loading-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loading {
    0% {
        opacity: 0.2;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.5);
    }
}
