.containerses {
    padding: 20px;
    background-color: #f9f9f9;
    z-index: -2 !important;
}

.container h1 {
    margin-bottom: 20px;
    color: #333;
}

.card-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    position: relative;
    flex: 1 1 calc(33% - 20px);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    z-index: 0;
}

.card:hover {
    transform: scale(1.05);
}

.video-card {
    width: 100%;
    height: 100%;
    display: block;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.badge {
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.text-light2{
    background-color: rgb(8, 8, 8,0.2);
    font-size: 20px;
    color: #f9e9e9 !important;

}
.myicoo {
    background: url('path-to-icon') no-repeat center center;
    width: 24px;
    height: 24px;
}

@media (max-width: 1024px) {
    .card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(100% - 20px);
    }
    .text-light{
        margin-top: 20px !important;
        background-color: rgb(8, 8, 8,0.3);
        border-radius: 10px;
        color: #f9f5f5 !important;
    }
}


span.badge.badge-light {
    padding: 3.5px 5.5px;
    font-size: 12px;
    background-image: linear-gradient(#c1353e, #c22b3a, #e42d49, #e32c3e);
    box-shadow: 0 0 0.25px #e42d49,
    -0.5px -0.75px 1px rgb(241 249 255 / 15%) inset,
    -0.75px -1.5px 1.5px rgb(44 6 13 / 5%) inset, 0 -0.5px 0.75px 0.25px #c1353e,
    0 0.5px 0.75px 0.25px #e32c3e, 0 -0.75px 2px -0.75px #c1353e,
    0 0.75px 2px -0.75px #e32c3e, -0.5px -2px 3px 0.75px rgb(44 6 13 / 85%),
    -1.75px -2.5px 2.5px -0.25px rgb(150 90 64 / 35%),
    -0.75px -0.75px 0.625px 0.25px rgb(150 90 64 / 50%),
    -0.85px -0.35px 0.85px 0 rgb(201 149 135 / 55%),
    -1.25px -1.25px 1.65px 0 rgb(201 149 135 / 25%);
    border-radius: 4px;
    font-family: Roboto;
    
}

.badge-info {
    background-color: #fb7ea8;
    background-image: linear-gradient(90deg, #ea4c89, #c52362);
    color: #333;
    box-shadow: 0 0 0.25px #fb83b1,
    -0.5px -0.75px 1px hsl(206deg 100% 97% / 15%) inset,
    -0.75px -1.5px 1.5px hsl(349deg 76% 10% / 5%) inset,
    0 -0.5px 0.75px 0.25px #f26e95, 0 0.5px 0.75px 0.25px #fb7ea8,
    0 -0.75px 2px -0.75px #f26e95, 0 0.75px 2px -0.75px #fb7ea8,
    -0.5px -2px 3px 0.75px hsl(0deg 0% 0% / 85%),
    -1.75px -2.5px 2.5px -0.25px hsl(3deg 57% 63% / 35%),
    -0.75px -0.75px 0.625px 0.25px hsl(3deg 57% 63% / 50%),
    -0.85px -0.35px 0.85px 0 hsl(358deg 55% 39% / 55%),
    -1.25px -1.25px 1.65px 0 hsl(358deg 55% 39% / 25%) !important;
}


.myicoo {
    width: 25px;
    height: auto;
    display: flex;
    position: relative;
    content: url(https://assets.codepen.io/4927073/heartit.png);
    filter: drop-shadow(2px 1px 1px #000);
    transform: scale(1.25);
}


.btn-primarys {
    background-color: #ff49fc;
    border-color: #88f6f6;
    color: rgb(18, 18, 18);
}

.btn-primarys:hover {
    background-color: #c25bc5;
    border-color: #0bf0f0;
}
